body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family:"Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.image{
    height: 40rem;
    transform: rotate(30deg);
}

.nav-item{
    font-size: 1.2rem;
}

/* NAvigation Bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}