#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
    font-size: 2rem;
}

h1{
    font-family:"Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}